body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.im.ge/2024/06/11/K3tDZ6.carrinhoCompras.jpeg");
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

/* body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    display: flex;

    height: 100vh;
  } */

header {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

section {
    width: 45%;
}

#products, #cart-summary {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

h2 {
    margin-top: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 3s;
  }
  
  .modal-content {
    background-color: rgb(215, 215, 215);
    margin: 15% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    box-shadow: 0px 0px 105px rgb(0, 0, 0); 
    border-radius: 8px;
    width: 20%;
    animation: slideIn 1s;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { margin-top: -50%; }
    to { margin-top: 15%; }
  }
  
  .close {
    color: #565656;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  