body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://i.im.ge/2024/05/27/K79Ooc.background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.input-wrapper button {
    padding: 10px;
    background-color: #45BF55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.input-wrapper button:hover {
    background-color: #168039;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.delete-button:hover {
    background-color: #DB463B;
}
